:root {
  --purple: #133bfc;
  --white: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 222, 213);
  background: linear-gradient(
    140deg,
    rgba(255, 222, 213, 1) 7%,
    rgba(255, 163, 152, 1) 92%
  );
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: #fff;
  height: 70%;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */

.flex-init {
  height: 85%;
}

.card__header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card__header h1 {
  color: var(--purple);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

/* MAIN */
#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
  gap: 0.8em;
}

#tarefa {
  width: 70%;
  padding: 0.3em 0.5em;
  outline-offset: 3px;
  outline-color: #5d78ff57;
  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 4px;
}

#botao {
  width: 50%;
  min-width: 118px;
  background-color: var(--purple);
  border: none;
  color: var(--white);
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1em;
}

.item__input {
  cursor: pointer;
}

.card__main {
  color: var(--purple);
  height: 85%;
  overflow: auto;
}

.titulo {
  font-size: 1.3em;
  margin-left: 1em;
}

.lista {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin: 1.2em 0;
}

.lista__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.lista__item span {
  color: #000;
  font-size: 1.2em;
  cursor: pointer;
}

.disable p {
  text-decoration: line-through;
  color: #ccc;
}

/* FOOTER */
.card__footer {
  height: 15%;
  border-top: solid 1px rgb(0 0 0 / 0.1);
  padding: 0.8;
  box-sizing: border-box;
  position: relative;
}

.card__footer h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ccc;
}

.add__icon {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--purple);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.add__icon span {
  color: #fff;
}

.footer_texto {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #ccc;
  margin-left: 1em;
}

.add__texto {
  display: none;
}

@media screen and (min-width: 768px) {
  .add__icon {
    display: none;
  }

  .add__texto {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--purple);
    margin-right: 1em;
    cursor: pointer;
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__header h1 {
    font-size: 1.4em;
  }
}
