:root {
  --primary: #537fe7;
  --background: #fff;
  --opaque: #ccc;
  --out-input: #5d78ff57;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, #2e3840 7%, #181d31 92%);
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: var(--background);
  height: 70%;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  margin-bottom: 2em;
}

/* HEADER */

.flex-init {
  height: 85%;
}

.card__header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card__header h1 {
  color: var(--primary);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

/* MAIN */
#formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
  gap: 0.8em;
}

#tarefa {
  width: 70%;
  padding: 0.3em 0.5em;
  outline-offset: 3px;
  outline-color: var(--out-input);
  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 4px;
}

#tarefa::placeholder {
  font-family: "Poppins", sans-serif;
}

#botao {
  width: 25%;
  min-width: 118px;
  background-color: var(--primary);
  border: none;
  color: var(--background);
  padding: 1em;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1em;
}

.item__input {
  cursor: pointer;
}

.card__main {
  color: var(--primary);
  height: 85%;
  overflow: auto;
}

.titulo {
  font-size: 1.3em;
  margin-left: 1em;
}

.lista {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  margin: 1.2em 0;
}

.lista__item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.lista__item span {
  color: #000;
  font-size: 1.2em;
  cursor: pointer;
}

.disable p {
  text-decoration: line-through;
  color: var(--opaque);
}

/* FOOTER */
.card__footer {
  height: 15%;
  border-top: solid 1px rgb(0 0 0 / 0.1);
  position: relative;
}

.card__footer h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--opaque);
}

.footer_texto {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--opaque);
}

.add__texto {
  display: none;
}

/* Créditos */

.creditos {
  color: var(--background);
}

.creditos a {
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .add__texto {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--primary);
    margin-right: 1em;
    cursor: pointer;
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card__header h1 {
    font-size: 1.4em;
  }

  .footer_texto {
    margin-left: 1em;
  }
}
